  h1{
        color:red;
        background-color: black;
    }
    p{
        color:brown;
        background-color: aqua;
    }
    button{
        color:aqua;
        background-color: cornsilk;
    }
    /* foreground color property */
    /* background color propert */
    
